<template>
<div id="app">
  <div id="head">
    <div id="logo">
      <img class="user" src="./assets/img/logo.png"/>
      <h2>Augmentum
        <sup>
          <span id="logo1">@</span>
        </sup>
      </h2>
    </div>
    <div id="head_right">
      <img class="user" src="./assets/img/user.jpg" /><label>AlexShu</label>
    </div>
  </div>
  <router-view></router-view>
</div>
</template>

<script>

export default {
  name: 'app',
};
</script>

<style scoped lang="scss">
#head{
  height: 60px;
  width: 100%;
  background-color: #5B589E;
  clear: both;
  max-width: 1400px;
  #logo {
    line-height: 100%;
    margin-left: 1.0909091%;
    float: left;
    h2 {
      color: white;
      display: inline;
      #logo1 {
        color: white;
        margin-left: -0.7272727%;
        font-size: 1em;
      }
    }
  }
  #head_right {
    line-height: 100%;
    margin-right: 2.1818182%;
    float: right;
    label {
      color: white;
      display: inline;
    }
  }
}
</style>
