<template>
<div id="modifyUser">
  <div id="body">
    <span v-if="userId===undefined">
      <span class="headText">添加</span>
      <span>添加人物资料</span>
    </span>
    <span v-else>
      <span class="headText">更新</span>
      <span>更新人物资料</span>
    </span>
    <br/>
    <div id="bodyTable">
      <hr/>
      <span>基本信息</span>
      <form method="user">
        <table>
          <tr>
            <td>姓名</td>
            <td >
              <span v-if="userId===undefined">
                <input type="text" v-model.trim="user.name" class="nameMargin"/>
              </span>
              <span v-else>
                <input type="text" disabled="disabled" v-model="user.name" class="nameMargin"/>
              </span>
            </td>
          </tr>
          <tr>
            <td>性别</td>
            <td>
              <select v-model="user.sex">
                <option value="男">男</option>
                <option value="女">女</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>出生日期</td>
            <td>
              <input type="date" v-model.trim="user.birthday"/>
            </td>
          </tr>
          <tr>
            <td>籍贯</td>
            <td>
              <input v-model.trim="user.originPlace"/>
            </td>
          </tr>
          <tr>
            <td>民族</td>
            <td>
              <select v-model="user.nation">
                <option v-for="nation in nations" :value="nation" v-model="user.nation">{{nation}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>职务</td>
            <td>
              <input type="text" v-model.trim="user.post" @keydown.enter="decideAdduser"/>
            </td>
          </tr>
          <tr>
            <td class="btnPaddingRight">
              <span v-if="userId===undefined" class="btn btn-success"  @click="decideAdduser">添加</span>
              <span v-else class="btn btn-primary" @click="decideUpdateUser">更新</span>
            </td>
            <td class="btnPaddingRight">
              <input type="reset" class="btn cancle" @click="returnIndex" value="取消"/>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <!--modal satrt-->
    <my-modal :msg="modalMsg"></my-modal>
</div>
</template>

<script>
import $ from 'jquery';
import MyModal from '@/components/Modal';
import constants from '@/assets/js/constants';

export default {
  name: 'modifyUser',

  data() {
    return {
      user: {                     // user object
        name: '',
        sex: '',
        birthday: '',
        originPlace: '',
        nation: '',
        post: '',
      },
      nations: constants,
      userId: '',
      modalMsg: {                 // modal message object
        topMsg: '',
        bodyMsg: '',
        buttonMsg: '',
      },
    };
  },

  // Modal
  components: {
    MyModal,
  },

  methods: {
    // click cancle
    returnIndex() {
      this.$router.push('/');
    },
    showModal(bodyMsg) {
      this.modalMsg.topMsg = '操作失败';
      this.modalMsg.bodyMsg = bodyMsg;
      this.modalMsg.buttonMsg = '确定';
      $('#myModal').modal('show');
    },
    // update  User
    updateUser(user) {
      this.$http({
        url: '/users/',
        data: user,
        method: 'put',
      }).then(() => {
        this.$router.push('/');
      }).catch(() => {
        this.showModal('更新失败');
      });
    },
    getUserById() {
      this.$http({
        url: `/users/${this.userId}`,
        method: 'get',
      }).then((res) => {
        this.user = res.data;
      }).catch(() => {
        this.showModal('获取用户信息失败');
      });
    },
    decideAdduser() {
      let tag = 0;
      Object.keys(this.user).forEach((key) => {
        if (this.user[key] !== '') {
          tag += 1;
        }
      });
      if (tag < 6) {
        this.showModal('请填写完整的用户信息，再提交');
      } else {
        this.addUser(this.user);
      }
    },
    // Add user
    addUser(user) {
      this.$http({
        url: '/users/',
        data: user,
        method: 'post',
      }).then(() => {
        this.$router.push({ path: '/' });
      }).catch(() => {
        this.showModal('添加用户失败');
      });
    },
    decideUpdateUser() {
      let tag = 0;
      Object.keys(this.user).forEach((key) => {
        if (this.user[key] !== '') {
          tag += 1;
        }
      });
      if (tag < 11) {
        this.showModal('请填写完整的表格信息，再次提交!');
      } else {
        this.updateUser(this.user);
      }
    },
  },

  created() {
    this.userId = this.$route.query.userId;
    if (this.userId !== undefined) {
      this.getUserById();
    } else {
      this.user.sex = '男';
      this.user.nation = '汉族';
    }
  },
};
</script>

<style scoped lang="scss">
#modifyUser {
  #body {
    .headText {
      font-size: 2em;
      margin-left: 30px;
    }
    hr {
      height: 1px;
      border: none;
      border-top: 3px solid #33A1C9;
      margin-top: -3px;
    }
    #bodyTable {
      .nameMargin {
        margin: -1.7014695% 0;
      }
      form * {
        width: 300px;
        height: 30px;
        margin-top: 20px;
      }
      form {
        margin-left: 100px;
      }
      td span {
        display: block;
        width: 100px;
      }
      .btnPaddingRight {
        padding-right: 35px;
        padding-bottom: 20px;
      }
      .cancle {
        width: 100px;
      }
      width: 75%;
      position:relative;
      background-color: white;
      left: 2%;
    }
  }
  width: 100%;
  height: 720px;
  background-color: #F5F5F5;
}
</style>
