<template>
<div id="Info">
  <div id="myForm" class="staticWidth">
    <hr/>
    <span class="margin10">姓名
      <input type="text" name="name" @keydown.enter="getUserGroup(1)" v-model="filterCondition.name"/>
    </span>
    <span class="margin10">性别
      <select name="sex" class="sexWidth" v-model="filterCondition.sex">
        <option value="">不限</option>
        <option value="男">男</option>
        <option value="女">女</option>
      </select>
    </span>
    <span class="margin10">职务
      <input type="text" name="post" @keydown.enter="getUserGroup(1)" v-model="filterCondition.post"/>
    </span>
    <span class="margin10">出生日期
      <input type="date" name="startDay" class="birthdayWidth" v-model="filterCondition.startDay"/>
    </el-date-picker>
    </span>
    <span class="margin10">到
      <input type="date" name="endDay" class="birthdayWidth" v-model="filterCondition.endDay"/>
    </span>
    <div id="search">
      <a class="btn btn-info" @click="getUserGroup(1)">
        <span class="glyphicon glyphicon-search">搜索</span>
      </a>
    </div>
    <br/>
    <div id="addAndDelRight">
      <span>
        <router-link to="/createUser" class="btn btn-success">
          <span class="glyphicon glyphicon-plus">添加</span>
        </router-link>
        <a class="btn btn-danger batchdeleteMarginLeft" data-toggle="modal" data-target="#myModal" @click="setBatchDeleteUser">批量删除
        </a>
      </span>
    </div>
  </div> <!-- searchUser end-->
  <div class="staticWidth" v-cloak>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>序号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>出生日期</th>
        <th>籍贯</th>
        <th>民族</th>
        <th>职务</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(user, key) in userGroup" v-model="userGroup">
        <td v-if="user.id==null" class="checkboxTdSize">
          <input class="checkboxSize" type="checkbox" v-model="deleteIds" :value="user._id"/>
        </td>
        <td v-else  class="checkboxTdSize">
          <input class="checkboxSize" type="checkbox" v-model="deleteIds" :value="user.id"/>
        </td>
        <td>{{pageInformation.number*2+1+key}}</td>
        <td>{{user.name}}</td>
        <td>{{user.sex}}</td>
        <td>{{user.birthday}}</td>
        <td>{{user.originPlace}}</td>
        <td>{{user.nation}}</td>
        <td>{{user.post}}</td>
        <td>
          <span v-if="user.id==null" >
            <router-link :to="{path: '/updateUser', query: {userId: user._id}}">
              <span class="glyphicon glyphicon-pencil buttonPaddingRight"></span>
            </router-link>
          </span>
          <span v-else>
            <router-link :to="{path: '/updateUser', query: {userId: user.id}}">
              <span class="glyphicon glyphicon-pencil buttonPaddingRight"></span>
            </router-link>
          </span>
          <span class="glyphicon glyphicon-trash deleteUserButton" data-toggle="modal" data-target="#myModal" v-if="user.id==null" @click="setDeleteUser(user._id)">
          </span>
          <span class="glyphicon glyphicon-trash deleteUserButton" data-toggle="modal" data-target="#myModal" v-else @click="setDeleteUser(user._id+user.id)">
          </span>
        </td>
      </tr>
      <tr v-show="userGroup.length==0">
        <td colspan="9" class="defaultMsg">
          <h4>没有数据.......,请添加数据</h4>
        </td>
      </tr>  <!-- show information end -->
      <tr>
        <td colspan="3">
          <div id="pageMessage" >
            <span v-model="pageInformation">
              <span v-if="this.pageInformation.totalElements == 0 || this.pageInformation.totalElements == undefined">显示0条 共0条
              </span>
              <span v-else>显示{{pageInformation.number*10+1}}到{{pageInformation.number*10+pageInformation.numberOfElements}}条
                共{{this.pageInformation.totalElements}}条
              </span>
            </span>
          </div>
        </td>
        <td colspan="6">
          <div class="page-bar">
            <ul>
              <li v-if="this.pageInformation.first || this.pageInformation.first == undefined">
                <button type="button" class="btn btn-default btn-lg pageBtn" disabled="disabled">上一页</button>
              </li>
              <li v-if="this.pageInformation.first == false">
                <button type="button" class="btn btn-default btn-lg pageBtn" @click="currentPageNum--, pageClick()">上一页</button>
              </li>
              <li v-for="index in indexs" v-bind:class="{ 'active': currentPageNum+1 == index || index == 1}">
                <a @click="btnClick(index-1)">{{ index }}</a>
              </li>
              <li v-if="this.pageInformation.last || this.pageInformation.last == undefined">
                <button type="button" class="btn btn-default btn-lg pageBtn" disabled="disabled">下一页</button>
              </li>
              <li v-if="this.pageInformation.last == false">
                <button type="button" class="btn btn-default btn-lg pageBtn" @click="currentPageNum++, pageClick()">下一页</button>
              </li>
              <li>
                <span class="allPageNum">共{{ maxShowPageNum }}页</span>
              </li>
            </ul>
          </div>
        </td>
      </tr> <!-- Paging user area end-->
    </tbody>
  </table>
</div>
  <my-modal :msg="modalMsg" @setFlag="get"></my-modal>
 </div>
</template>

<script>
import $ from 'jquery';
import MyModal from '@/components/Modal';
import Constants from '@/assets/js/constants';

export default {
  name: 'Info',
  data() {
    return {
      userGroup: [],        // userGroup
      pageInformation: {},  // Paging user object
      deleteIds: [],        // Multiple delete user ids
      maxShowPageNum: 1,    // default max pageNum
      currentPageNum: 1,    // default currentPageNum
      id: 0,                // delete  user id
      filterCondition: {    // search user object filterCondition
        name: '',
        sex: '',
        post: '',
        startDay: '',
        endDay: '',
      },
      pageNum: 0,
      isShowModal: false,   // show modal falg
      modalMsg: {           // modal message object
        topMsg: '',
        bodyMsg: '',
        buttonMsg: '',
      },
      flag: -1,             // default flag from modal
      nations: Constants,
      pageSize: 5,          //Every page default 5
    };
  },
  // Modal
  components: {
    MyModal,
  },
  // Paging user computed
  computed: {
    indexs() {
      let left = 1;
      let right = this.maxShowPageNum;
      const arr = [];
      if (this.maxShowPageNum >= 5) {
        if (this.currentPageNum > 3 && this.currentPageNum < this.maxShowPageNum - 2) {
          left = this.currentPageNum - 2;
          right = this.currentPageNum + 2;
        } else if (this.currentPageNum <= 3) {
          left = 1;
          right = 5;
        } else {
          right = this.maxShowPageNum;
          left = this.maxShowPageNum - 4;
        }
      }
      while (left <= right) {
        arr.push(left);
        left += 1;
      }
      return arr;
    },
  },
  methods: {
    showModal(bodyMsg) {
      this.modalMsg.topMsg = '操作失败';
      this.modalMsg.bodyMsg = bodyMsg;
      this.modalMsg.buttonMsg = '确定';
      $('#myModal').modal('show');
    },
    // Set Paging user information
    setPagingUser(response) {
      this.pageInformation = response.data;
      this.userGroup = this.pageInformation.content;
      this.maxShowPageNum = this.pageInformation.totalPages;
      this.currentPageNum = this.pageInformation.number;
    },
    // Get userGoup
    getUserGroup(num) {
      this.pageNum = num;
      this.$http({
        url: '/users/find',
        params: {
          name: this.filterCondition.name,
          sex: this.filterCondition.sex,
          post: this.filterCondition.post,
          startDay: this.filterCondition.startDay,
          endDay: this.filterCondition.endDay,
          pageNum: this.pageNum,
        },
        method: 'get',
      }).then((response) => {
        this.setPagingUser(response);
      }).catch(() => {
        this.showModal('获取用户信息失败,系统正在维护中');
      });
    },
    // Get flag from modal
    get(flag) {
      if (flag === 1) {
        this.deleteUser();
      } else {
        this.deleteMultipleUser();
      }
    },
    sureShowInformation(num) {
      if (this.pageInformation.numberOfElements > num) {
        this.getUserGroup(this.pageInformation.number + 1);
      } else if (this.pageInformation.totalElements > num) {
        this.getUserGroup(this.pageInformation.number);
      } else {
        this.getUserGroup(1);
      }
    },
    setDeleteUser(id) {
      this.modalMsg.topMsg = '删除用户';
      this.modalMsg.bodyMsg = '你确定删除这个用户么 ?';
      this.modalMsg.buttonMsg = '删除';
      this.deleteIds = [];
      this.deleteIds.push(id);
    },
    deleteUser() {
      this.deleteMultipleUser();
    },
    setBatchDeleteUser() {
      this.modalMsg.topMsg = '删除多个用户';
      this.modalMsg.bodyMsg = '你确定删除这些用户么 ?';
      this.modalMsg.buttonMsg = '删除全部';
    },
    // batch user
    deleteMultipleUser() {
      if (this.deleteIds.length > 0) {
        this.$http({
          method: 'delete',
          url: '/users/delete',
          params: {
            deleteIdGroup: this.deleteIds.toString(),
          },
        }).then(() => {
          this.sureShowInformation(this.deleteIds.length);
        }).catch(() => {
          this.showModal('删除用户失败');
        });
      } else {
        this.showModal('未选择用户，请先选择用户，再进行删除！');
      }
    },
    // Paging user button index
    btnClick(data) {
      if (data !== this.currentPageNum) {
        this.currentPageNum = data + 1;
        this.getUserGroup(this.currentPageNum);
      }
    },
    // Paing user button
    pageClick() {
      this.getUserGroup(this.currentPageNum + 1);
    },
  },
  mounted() {
    this.getUserGroup(1);
  },
};
</script>

<style scoped lang="scss">
  @import '../assets/css/UserInformation'
</style>
