<template>
  <div id="body">
    <span id="bodyText">人物</span>
    <span>人物画像数据库</span>
    <div id="bodyTable">
      <user-information></user-Information>
    </div>
  </div>
</template>

<script>
import UserInformation from '@/vues/UserInformation';

export default {
  name: 'body',
  components: {
    UserInformation,
  },
};
</script>

<style lang="scss">
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
#body {
  #bodyTable {
    width: 97%;
    position: relative;
    background-color: white;
    left: 20px;
  }
  #bodyText {
    margin: 0 20px;;
    font-size: 2em;
  }
  width: 1375px;
  height: 720px;
  font-family: '微软雅黑';
  font-size: 1em;
  background-color: #F8F8FF;
}
</style>
