<template>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModmaxShowPageNumabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModmaxShowPageNumabel">{{msg.topMsg}}</h4>
      </div>
      <div class="modal-body">{{msg.bodyMsg}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal">返回</button>
        <span class="btn btn-primary" @click="setFlag" data-dismiss="modal">{{msg.buttonMsg}}</span>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'myModal',
  data() {
    return {
      flag: -1,
    };
  },
  props: ['msg'],
  methods: {
    setFlag() {
      if (this.msg.topMsg === '删除用户') {
        this.flag = 1; // delete  user
      } else {
        this.flag = 2; // delete some user
      }
      this.$emit('setFlag', this.flag);
    },
  },
};
</script>
