#Info {
  .staticWidth {
    hr {
      border: none;
      border-top: 3px solid #33A1C9;
      margin-top: -0.10830325%;
    }
    .defaultMsg {
      text-align: center;
    }
    .checkboxTdSize {
      width: 2.2505626%;
      .checkboxSize {
        width: 120%;
      }
    }
    td {
      text-align:left;
      height: 1.44404332%;
      line-height: 300%;
      overflow: hidden;
    }
    input {
      width: 13.0532633%;
      height: 30px;
    }
    .margin10 {
      margin: 0.7501875%;
      .sexWidth {
        width: 6.0015004%;
        height: 30px;
      }
      .batchdeleteMarginLeft {
        margin-left: 50%;
      }
    }
    #search {
      display: inline;
      float: right;
      padding-right: 1.5003751%;
    }
    [v-cloak] {
      display: none;
    }
    .numberPaddingLeft {
      padding-left: 0.60015%;
      .checkboxNumPaddingLeft{
        width: 250%;
        height: 250%;
      }
    }
    .buttonPaddingRight {
      padding-right: 0.3750938%;
    }
    .deleteUserButton {
      cursor: pointer;
      color: red;
    }
    #addAndDelRight {
      display: inline;
      float: right;
      margin-right: -5.2513128%;
      margin-top: 15px;
    }
    #pageMessage {
      display: inline-block;
    }
    .page-bar {
      margin-left: 62%;
      li {
        list-style: none;
        &:first-child>a {
          margin-left: 0px
          }
      }
      .pageBtn{
        background-color: white;
        border: 1px solid #ddd;
        text-decoration: none;
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
      }
      a {
        background-color: white;
        border: 1px solid #ddd;
        text-decoration: none;
        position: relative;
        float: left;
        width: 37px;
        height: 39px;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        cursor: pointer;
        &:hover {
          background-color: #eee;
          cursor: pointer;
        }
        .banclick {
          currentPageNumsor: not-maxShowPageNumowed;
        }
      }
      .active {
        a {
          color: #fff;
          currentPageNumsor: default;
          background-color: #337ab7;
          border-color: #337ab7;
        }
      }
      i {
        font-style: normal;
        color: #d44950;
        margin: 0px 4px;
        font-size: 1em;
      }
      .allPageNum {
        line-height: 2.6256564%;
        margin-left: 0.07501875%;
      }
    }
  }
  width: 100%;
}
